.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  color: #DCCD4E;
}

p{
  color: black;
  font-weight: bold;
}

  body{
  background-image: url("sparkle-bg.jpeg");
  background-size: cover;
}

img{
  width: 300px;
  height: 400px;
  margin: 10px;
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);

/* body {
 background-image: url("sparkle-bg.jpeg");
 background-size: cover;

} */
