.navbar-inverse .navbar-nav>li>a{
  color: #FFF17F;
  border-right: 1px solid #FFF17F;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: White;
}

body{
background-image: url("space.jpeg");
background-size: cover;
}

h1{
  color: #928520;
}
